{% extends 'main/layout.html' %}

{% block title %} News on our site {% endblock %}

{% block content %}
    <div class="page-title">
        <h1> News on our site</h1>
        {% for el in news %}
            <div >
                <h2>{{ el.title }}</h2>
                <h3>{{ el.anons }}</h3>
                {% if el.image %}
                    <img src="{{ el.image.url }}" alt="Image for {{ el.title }}" style="max-height: 300px;">
                {% endif %}
                <h5>{{ el.full_text }}</h5>
                <h6> {{el.date}} </h6>
                <a href="{% url 'news-detail' el.id %}"> Read details</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}