body{
    background: orange;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: gold;
    color: #fff;
    border-right: 5px solid #4d4d4d;
    padding: 5%;
    box-sizing: border-box;
    overflow-y: auto;
}

aside img{
    width: 80%;
    float: left;
}
aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3{
    margin-top: 50px;
    font-size: 28px;
}
aside ul{list-style: None}

aside ul li{
    color: white;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: darkmagenta;
    text-decoration: None;
    transform: scale(1.05);

}
main .features{
    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

main {
    margin-left: 25%;
    padding: 20px;
    text-align: center;
}
.page-title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
}
.p-4{
    color: #4d4d4d;
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.card {
    border-radius: 20px;
    background-color: #fdfdfd;
}
.btn-primary {
    background-color: #ff6f00;
    border: none;
}
.btn-primary:hover {
    background-color: #ff8f00;
}
.values-section .container {
  margin-left: -20px;
}
