{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Меню пицц{% endblock %}

{% block content %}
<h1>🍕 Меню пицц</h1>


<div>
  {% for pizza in pizzas %}
    <div class="pizza-item">
      {% if pizza.image %}
        <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}">
      {% else %}
        <p>Изображение отсутствует</p>
      {% endif %}

      <h3>{{ pizza.name }} ({{ pizza.size }}) - {{ pizza.price }} ₽</h3>
      <p>{{ pizza.description }}</p>
      <p><strong>Ингредиенты:</strong> {{ pizza.ingredients }}</p>

      <form method="post" action="{% url 'cart:add_to_cart' pizza.id %}">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">

        {% if user.is_authenticated %}
          <button type="submit">Добавить в корзину</button>
        {% else %}
          <a href="{% url 'login' %}?next={% url 'pizza:pizza_list' %}">
            Войдите, чтобы добавить
          </a>
        {% endif %}
      </form>
    </div>
  {% empty %}
    <p>Пицц пока нет.</p>
  {% endfor %}
</div>
{% endblock %}
