{% extends 'main/layout.html' %}

{% block title %} Create Review {% endblock %}

{% block content %}
    <div class="page-title">
        <h1>You can help us be better!</h1><br>
        <h1>Leave your review here!</h1><br>

        <form method="post"  action="{% url 'create_review' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.anons }}<br>
            </div>

            <div class="mb-3">
                {{ form.full_text }}<br>
            </div>

            <div class="mb-3">
                {{ form.rating }}<br>
            </div>

            <span class="text-danger">{{ error }}</span><br>
            <button class="btn btn-success" type="submit">Post review</button>
        </form>
    </div>
{% endblock %}
