{% extends 'main/layout.html' %}

{% block title %} Reviews {% endblock %}

{% block content %}
    <div>
        <h1>Reviews about us!</h1>
        {% for el in reviews %}
            <div>
                <h2>{{ el.anons }}</h2>
                <p>{{ el.full_text }}</p>

                <div style="font-size: 20px;">
                    {% for i in "12345" %}
                        {% if forloop.counter <= el.rating %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                </div>

                <p>Added: {{ el.created_at|date:"d.m.Y H:i" }}</p>
                <p>By: {{ el.user.username }}</p>
            </div>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
{% endblock %}
