{% extends 'main/layout.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div>
  <h2>Ваша корзина</h2>

  {% if cart_items %}
    <table class="table">
      <thead>
        <tr>
          <th>Пицца</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Сумма</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.pizza.name }}</td>
            <td>{{ item.pizza.price }} ₽</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_total_price }} ₽</td>
            <td>
              <a href="{% url 'cart:remove_from_cart' item.id %}">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Общая сумма: {{ total_price }} Byn</h4>
    <a href="{% url 'cart:clear_cart' %}">Очистить корзину</a>
    <a href="{% url 'order:create_order' %}">Оформить заказ</a>
  {% else %}
    <p>Корзина пуста.</p>
    <a href="{% url 'home' %}"> Go to menu</a>
  {% endif %}
</div>
{% endblock %}
