{% extends 'main/layout.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Ваша корзина</h2>

  {% if cart_items %}
    <table class="table">
      <thead>
        <tr>
          <th>Пицца</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Сумма</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.pizza.name }}</td>
            <td>{{ item.pizza.price }} ₽</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_total_price }} ₽</td>
            <td>
              <a href="{% url 'cart:remove_from_cart' item.id %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Общая сумма: {{ total_price }} ₽</h4>
    <a href="{% url 'cart:clear_cart' %}" class="btn btn-warning mt-3">Очистить корзину</a>
    <a href="{% url 'order:create_order' %}" class="btn btn-success mt-3 ms-3">Оформить заказ</a>
  {% else %}
    <p>Корзина пуста.</p>
    <a href="{% url 'home' %}" class="btn btn-warning"> Go to menu</a>
  {% endif %}
</div>
{% endblock %}
