{% extends 'main/layout.html' %}

{% block title %} Offers {% endblock %}

{% block content %}
    <div class="page-title">
        <h1> We offer </h1>
        {% for el in job_offers %}
            <div class="p-4 bg-light border rounded">
                <h2> {{ el.specialist_name }} </h2><br>
                <h4> {{ el.describing }} </h4><br>
                <h5> {{ el.requirements}} </h5><br>
                <h5> {{ el.salary}} </h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}