<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon"  type="image/png" href="FastFox/main/static/main/img/fox.png" />
</head>
<body>

    <header>
        <img src="{% static 'main/img/FastFoxLogo.png' %}" alt="" width="300" height="300">
        <span class="logo">FastFox</span>

        <nav>
            <div class="auth-controls">
                {% if request.user.is_authenticated and request.user.is_superuser %}

                    <h3>Admin Panel</h3>
                    <ul>
                        <li><a href="{% url 'admin_dashboard' %}">Admin</a></li>
                        <li><a href="{% url 'pizza:pizza_list' %}">Pizza menu</a></li>
                        <li><a href="{% url 'manage_orders' %}">Manage Orders</a></li>
                        <li><a href="{% url 'add_pizza' %}">Add Pizza</a></li>
                    </ul>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>

                {% elif user.is_authenticated %}
                    <span class="me-2"> Hi, {{ user.username }}!</span>
                    <a href="{% url 'order:my_orders' %}">Мои заказы</a>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                    <h3>Navigation</h3>
                    <ul>
                        <a href="{% url 'home' %}"><li>Main</li></a>
                        <a href="{% url 'pizza:pizza_list' %}"><li>Pizza menu</li></a>
                        <a href="{% url 'about' %}"><li>About us</li></a>
                        <a href="{% url 'cart:cart_detail' %}"><li>Cart</li></a>
                        <a href="{% url 'get_contacts' %}"><li>Contacts</li></a>
                        <a href="{% url 'news_home' %}"><li> News </li></a>
                        <a href="{% url 'see_reviews' %}"><li> Reviews </li></a>
                        <a href="{% url 'promocodes' %}"><li> Promo-codes </li></a>
                        <a href="{% url 'offers' %}"><li> We offer </li></a>
                        <a href="{% url 'questions' %}"><li> You're asking </li></a>
                        <a href="{% url 'create_review' %}"><li><button><i></i>Add review</button></li></a>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'register' %}">Регистрация</a>
                    <h3>Navigation</h3>
                    <ul>
                        <a href="{% url 'home' %}"><li>Main</li></a>
                        <a href="{% url 'pizza:pizza_list' %}"><li>Pizza menu</li></a>
                        <a href="{% url 'about' %}"><li>About us</li></a>
                        <a href="{% url 'get_contacts' %}"><li>Contacts</li></a>
                        <a href="{% url 'news_home' %}"><li> News </li></a>
                        <a href="{% url 'see_reviews' %}"><li> Reviews </li></a>
                        <a href="{% url 'promocodes' %}"><li> Promo-codes </li></a>
                        <a href="{% url 'offers' %}"><li> We offer </li></a>
                        <a href="{% url 'questions' %}"><li> You're asking </li></a>
                        <a href="{% url 'create_review' %}"><li><button><i></i>Add review</button></li></a>
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <a href="{% url 'privacy' %}"><li> Политика конфиденциальности </li></a>
    </footer>
</body>
</html>
